#category h1{
	text-shadow: 1px 1px #000;
	font-size: 40px;
}

.map-card{
	width: 215px;
	height: 235px;
  background-repeat: repeat;
}

.map-card div{
	height: 70px;
	font-size: 18px;
	border: none;
}

.map-card div p{
	height: 70px;
	width: 215px;
	padding: 0 5px;
}

.page{
	position: absolute;
	left: 0;
	width: 100%;
}

.map-cards-wrapper{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}