#home{
	display: block;
	padding-top: 0;
}

#home h1.title {
	display: inline-block;
	vertical-align: middle;
}

#home #home-share-button {
	display: inline-block;
	font-size: 26px;
	background-color: rgba(0, 0, 0, .3);
	border-radius: 10px;
	padding: 5px 20px;
	vertical-align: middle;
}

#home #home-share-button:hover {
	background-color: rgba(0, 0, 0, .5);
	cursor: pointer;
}

#home #home-share-button i{
	margin-right: 10px;
}

#categories{
	text-align: center;
	margin-top: 20px;
	overflow-y: scroll;
}

#home .card{
	margin: 20px;
	overflow: hidden;
}

.category .map-background{
  width: 850px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  opacity: 0;
}

.category .map-background:first-child{
  opacity: 1
}