#home{
	display: block;
	padding-top: 0;
}

#categories{
	text-align: center;
	margin-top: 20px;
}

#home .card{
	margin: 20px;
	overflow: hidden;
}

.category .map-background{
  width: 850px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background-position: center center;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.map-background.slideLeft{
  left: -425px;
  opacity: 0;
}
