@font-face {
  font-family: 'Prensa-Regular';
  src: url('fonts/Prensa-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Prensa-Regular.otf')  format('opentype'),
	     url('fonts/Prensa-Regular.woff') format('woff'), url('fonts/Prensa-Regular.ttf')  format('truetype'), url('fonts/Prensa-Regular.svg#Prensa-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SourceSans';
    src: url('fonts/SourceSansPro-Light-webfont.eot');
    src: url('fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Light-webfont.woff2') format('woff2'),
         url('fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'SourceSans';
    src: url('fonts/SourceSansPro-Semibold-webfont.eot');
    src: url('fonts/SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Semibold-webfont.woff2') format('woff2'),
         url('fonts/SourceSansPro-Semibold-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Semibold-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}

html, body, button{
	background-color: #454b51;
	color: white;
	margin: 0;
	font-family: 'SourceSans';
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body{
	overflow: hidden;
}

#top-section{
	width: 100%;
}

#screen-top-border{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	height: 10px;
	z-index: 9999;
}

.screen{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	display: none;
	padding-top: 70px;
	box-sizing: border-box;
	overflow: hidden;
}

.title{
	font-size: 60px;
	margin: 20px;
	font-family: 'Prensa-Regular';
	white-space: nowrap;
	overflow: hidden;
	font-weight: normal;
	text-shadow: 1px 1px #000;
}
.subtitle{
	font-size: 30px;
	margin: 10px 0;
	font-weight: normal;
	text-shadow: 1px 1px #000;
	margin-top: 0;
}

.card{
	display: inline-block;
	border-radius: 10px;
	background: #ccc;
	position: relative;
	margin: 15px;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.25);
	width: 425px;
	height: 460px;
	cursor: pointer;
}

.card div{
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(0,0,0,.8);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 100%;
	border-top: 9px solid transparent;
	overflow: hidden;
	height: 110px;
	font-size: 30px;
}

.card div p{
	vertical-align: middle;
	margin: 0;
	display: table-cell;
	text-align: center;
	height: 110px;
	width: 425px;
	cursor: pointer;
}

#breadcrumbs{
	position: absolute;
	height: 60px;
	width: 100%;
	top: 10px;
	background-color: #454b51;
	white-space: nowrap;
	overflow: hidden;
	z-index: 9999;
}

.fa{
	vertical-align: middle;
}

#breadcrumbs div {
	display: block;
	float: left;
	font-size: 16px;
	background-color: #373b40;
	height: 60px;
	line-height: 60px;
	padding: 0 30px 0 60px;
	position: relative;
}

#breadcrumbs div::after {
	width: 0; 
	height: 0; 
	display: block;
	content: " ";
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid #373b40;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 100%;
	z-index: 2;
	margin-left: -1px;
}

#breadcrumbs div::before{
	width: 0; 
	height: 0; 
	display: block;
	content: " ";
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 35px solid #454b51;
	position: absolute;
	top: 50%;
	margin-top: -35px;
	left: 100%;
	z-index: 1;
}

#breadcrumbs div i{
	color: #747d84;
}
#breadcrumbs div span{
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
}

#breadcrumbs div span:hover{
	text-decoration: underline;
	cursor: pointer;
}

#breadcrumbs div i:hover{
	cursor: pointer;
}

#breadcrumbs div span.last:hover{
	text-decoration: none;
	cursor: initial;
}

#breadcrumbs div i.last:hover{
	cursor: initial;
}

#breadcrumbs #home-button{
	background-color: #747d84;
}

#breadcrumbs div#home-button i{
	color: white;
}
#breadcrumbs div#home-button::after{
	border-left-color: #747d84;
}
#breadcrumbs #category-button, 
#breadcrumbs #metadata-button, 
#breadcrumbs #map-button {
	display: none;
}

.category-screen #breadcrumbs div#category-button,
.metadata-screen #breadcrumbs div#metadata-button,
.map-screen #breadcrumbs div#map-button
{
	background-color: #454b51;
}

.category-screen #breadcrumbs div#home-button::after
{
	border-top-color: #454b51;
	border-bottom-color: #454b51;
}

.metadata-screen #breadcrumbs div#category-button::after,
.map-screen #breadcrumbs div#metadata-button::after
{
	border-top-color: #454b51;
	border-bottom-color: #454b51;
	border-left-color: #373b40;
}

.category-screen #breadcrumbs div#category-button::after,
.metadata-screen #breadcrumbs div#metadata-button::after,
.map-screen #breadcrumbs div#map-button::after
{
	border-color: #454b51;
}

#breadcrumbs i {
	margin-right: 10px;
}

.footer{
	text-align: center;
	width: 100%;
	padding-top: 30px;
	position: absolute;
	bottom: 20px;
}

.map-screen .footer{
	display: none;
}

.footer img{
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}
.footer span{
	font-size: 16px;
	font-family: 'Prensa-Regular';
	display: inline-block;
	vertical-align: middle;
}

.page-button{
	position: absolute;
	top:165px;
	display: none;
	height: 460px;
	width: 60px;
	background-color: #373b40;
	line-height: 460px;
	text-align: center;
	cursor: pointer;
}
#prev-page{
	left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#next-page{
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#prev-page:hover{
	background-color: #282b2e;
}

#next-page:hover{
	background-color: #282b2e;
}

#mouse-block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	display: none;
}

@media only screen and (min-width: 767px) {

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #555;
}
::-webkit-scrollbar-thumb {
    background-color: #666;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

}

/* MOBILE SPECIFIC STUFF WE DON'T SHOW */

#mobile-icons,
#details-close{
	display: none;
}

#breadcrumbs .mobile {
	display: none;
}

.share-menu{
	background-color: rgba(0, 0, 0, .75);
	color: #fff;
	position: absolute;
	z-index: 9999;
	max-width: 200px;
	border: 1px solid #666;
}

.share-menu a{
	text-decoration: none;
	color: #fff;
}

.share-menu a:hover{
	text-decoration: underline;
	color: #fff;
}

.share-menu p {
	padding: 20px;
	margin: 0;
}

.share-menu p.social-media:hover {
	background-color: rgba(0, 0, 0, .75);
	cursor: pointer;
}

.share-menu i {
	margin-right: 10px;
}

.fa-facebook-square {
	color: #3b5998;
}

.fa-twitter-square {
	color: #4099ff;
}

.fa-envelope-square {
	color: #666;
}
@media only screen and (max-width: 1250px) {
	#transparency-div{
		margin: 0 !important;
	}
	#interaction-elements{
		padding: 20px 10px !important;
	}
}
@media only screen and (max-width: 1200px) {
	#map-share-button > span{
		display: none;
	}
	#find-your-city-button i::after{
		content: 'Find...' !important;
	}
}
@media only screen and (max-width: 1070px) {
	#transparency-div > span{
		display: none;
	}
	#interaction-elements{
		padding: 20px 5px !important;
	}
}
@media only screen and (max-width: 930px) {
	#transparency-div{
		display: none !important;
	}
	#interaction-elements{
		padding: 20px !important;
	}
}
