html, body{
	background-color: #454b51;
	color: white;
	margin: 0;
}

.screen{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	display: none;
}

.title{
	font-size: 60px;
	margin: 20px 0;
}
.subtitle{
	font-size: 30px;
	margin: 10px 0;
}

.card{
	display: inline-block;
	border-radius: 10px;
	background: #ccc;
	position: relative;
	margin: 15px;
	box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.25);
}

.card div{
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: rgba(0,0,0,.8);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
	border-top: 9px solid transparent;
	overflow: hidden;
}

.card div p{
	vertical-align: middle;
	margin: 0;
	display: table-cell;
	text-align: center;
}

#breadcrumbs{
	position: absolute;
	z-index: 999;
	height: 60px;
	top: 15px;
}

.home-screen #breadcrumbs{
	display: none;
}

#home-button{
	background-color: #747d84;
}