#metadata > div.container > .meta-text{
	display: inline-block;
	vertical-align: top;
	margin: 0 80px 15px 565px;
	text-align: left;
	font-size: 18px;
}

.meta-text p{
	margin: 15px 0;
}

.meta-text p.caption-title{
	font-family: "source_sans_prosemibold";
	margin-top: 0;
}


span.author{
	text-transform: uppercase;
}
span.dimensions{
	font-style: italic;
}

#metadata h1{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px #000;
	font-size: 30px;
}

#metadata > div.container {
	position: absolute;
	top: 165px;
	width: 100%;
	text-align: left;
	overflow-y: auto;
}

#metadata .cardContainer{
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
}

#metadata .card{
  margin-left: 100px;
  margin-top: 0;
}

#metadata .card div p{
	line-height: 15px;
}
#metadata .card div p.courtesy{
	font-size: 12px;
	position: absolute;
	height: 25px;
	bottom: 0;
}

body > .card{
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

body > .card.fixed{
  top: 150px !important;
  left: 85px !important;
}
