#metadata > div.container > p{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	text-align: left;
}

#metadata h1{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#metadata > div.container {
	position: absolute;
	top: 150px;
	width: 100%;
}