#metadata > div.container > .meta-text{
	display: inline;
	vertical-align: top;
	text-align: left;
	font-size: 14px;
}

.meta-text p{
	margin: 15px 5px 15px 100px;
}

.meta-text p.caption-title{
	font-family: "SourceSans";
	font-weight: bold;
	margin-top: 0;
}


span.author{
	text-transform: uppercase;
}
span.dimensions{
	font-style: italic;
}

#metadata h1{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px #000;
	font-size: 24px;
}

#metadata > div.container {
	position: absolute;
	top: 165px;
	width: 100%;
	text-align: left;
	overflow-y: auto;
}

#metadata .cardContainer{
	display: inline;
	float: left;
}

#metadata .card{
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

#metadata .card div p{
	line-height: 15px;
}
#metadata .card div p.courtesy{
	font-size: 12px;
	position: absolute;
	height: 25px;
	bottom: 0;
}

body > .card{
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

body > .card.fixed{
  top: 150px !important;
  left: 85px !important;
}

/* Special formatting for text that is one or two lines too long */

@media only screen and (max-width: 860px)  and (min-width: 800px){
	.cardContainer{
		display: inline-block !important;
		float: none !important;
	}
	
	.meta-text{
		display: inline-block !important;
	}
	
	.meta-text p{
		margin: 15px 5px 15px 0px;
	}
}
