@media only screen and (max-width: 767px) {
  h1{
    margin: 0 !important;
    font-size: 20px !important;
    line-height: 60px;
  }
  
  h2, #top-section, .footer, .page-button{
    display: none !important;
  }
  
  .screen{
    padding-top: 0;
  }
  
  /* HOME SCREEN */
  
  #home h1{
    text-indent: 20px;
    background: url(../img/compass.png) no-repeat 10px center;
    background-size: 40px;
  }
  
  #categories, #map-cards{
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: -o-calc(100% - 60px);
    height: calc(100% - 60px);
    margin-top: 0;
  }
  
  .card{
    height: 25%;
    width: 100%;
    display: block;
    margin: 0 !important;
    border-bottom: solid 1px black;
    border-radius: 0;
    box-shadow: none;
  }
  
  .card.category{
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
  }
  
  .card .card-title{
    border-top: none;
    height: 100%;
    width: 100%;
    border-radius: 0;
    background-color: transparent;
  }
  
  .card .category-title{
    width: -moz-calc(100% - 9px);
    width: -webkit-calc(100% - 9px);
    width: -o-calc(100% - 9px);
    width: calc(100% - 9px);
    border-left-style: solid;
    border-left-width: 9px;
  }
  
  .card .card-title p{
    height: 100%;
    width: auto;
    margin-left: 80px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background-color: white;
    display: block;
    padding: 20px;
  }
  
  .card .category-title p{
    padding: 15% 20px;
  }
  
  .card .card-title p:before{
    content: ">";
    height: 100%;
    float: right;
    margin-left: 30px;
  }
  
  /* CATEGORY SCREEN */
  
  #map-cards{
    overflow-y: scroll;
  }
  
  .page{
    display: block !important;
    position: static;
  }
  
  .map-cards-wrapper{
    width: 100%;
    max-height: none !important;
    max-width: none !important;
    margin: 0;
  }
  
  .map-card.card{
    height: 100px;
  }
}